*{
    box-sizing: border-box;
    margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control{
    height: 50px;
}

.form-control::placeholder{
    opacity: 0.85;
}

.alert{
  text-align: center;
}